* {
  margin: 0;
  padding: 0;
}

body, html{
  height: 100%;
  text-decoration: none;
  text-align: center;
  color:white;
}

.section{
  min-height: 100%;
}

h1, h2{
  font-family: 'Roboto Condensed';
  padding-bottom: 10px;
}

p{
  font-family: 'Roboto';
  padding-bottom: 3px;
}

.center{
  position: relative;
  width: 60%;
  left: 20%;
  padding-top: 17%;
}

.reason{
  background: rgba(0,0,0,.6);
  padding-top: 10px;
  padding-bottom: 10px;
}

.fa{
  margin-top: 5px;
  margin-left: 2px;
}

.button{
  height: 75px;
  width: 75px;
  border-radius: 50px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  border: white 1px solid;
}

.button:hover{
  background-color: rgba(219, 112, 147, 0.8);
}

.fa-smile-o:link {
    text-decoration: none;
    color: white;
}

.modalOpen:visited {
    color: white;
}

.buttonWrap{
}

#main{
  background-color: black;
}

#reasonOne{
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("http://cdn.geekwire.com/wp-content/uploads/2015/09/CPC7nZ5UcAA8_26-620x349.jpg")
    no-repeat;
  background-size:cover;
}

#reasonTwo{
    background: linear-gradient(
      rgba(250, 0, 0, 0.6),
      rgba(250, 0, 0, 0.6)
    ),
    url("http://cdn.geekwire.com/wp-content/uploads/2015/11/Screen-Shot-2015-11-18-at-3.16.07-PM-1240x372.png")
    no-repeat;
  background-size: cover;
}

#reasonThree{
    background: linear-gradient(
      rgba(250, 250, 250, 0.4),
      rgba(250, 250, 250, 0.4)
    ),
    url("http://us.battle.net/hearthstone/static/images/media/wallpapers/hearthstone_wallpaper1024x768.jpg")
    no-repeat;
  background-size: cover;
}

.modalDialog {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}

.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}

.modalDialog > div {
  width: 400px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: white;
  color: black;
}

.close {
  background: #606061;
  color: white;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #00d9ff;
}

.elle:link {
    color: black;
    text-decoration: none;
}

.elle:visited {
    color: black;
}

@-ms-viewport{
  width: device-width;
}

